/* All */

.input-nice {
  border: none;
  outline: none;
}

/* Bootstrap++ */
.fs-17 {
  font-size: 17px !important;
}

/* Ionic */

.toolbar-background {
  background: #333 !important;
}

/* Buttons */

.emoji-button {
  border-radius: 10%;
  text-align: center;
  line-height: 27px;
  font-size: 18px;
  text-decoration: bold;
  cursor: pointer;
}

.floating-button {
  position: absolute;
  bottom: 30px;
  opacity: 0.8;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 100%;
  color: white;
  text-align: center;
  cursor: pointer;
  font-size: 25px;
  animation: big-bang-generate 0.2s linear;
  border-style: none;
}

/* Font */
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}

/* Animations */

@keyframes big-bang-generate {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}