<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title class="px-3">
          <div class="d-flex flex-row">
            <div @click="() => router.push('/home')">👈 <u>Back</u></div>
            <div
              class="badge ml-auto align-self-center"
              v-bind:style="{ background: product.color }"
            >
              {{ product.name }}
            </div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <div id="container">
        <div
          class="item-row py-3 px-3"
          v-for="item in product.items"
          v-bind:key="item.id"
        >
          <div id="item-weight" class="w-25 h5 text-center">
            {{ item.weight }} gr
          </div>
          <div
            id="item-quantity"
            class="w-50 d-flex flex-row justify-content-between px-4"
          >
            <div @click="item.quantity--">👎</div>
            <div class="h5">{{ item.quantity }} pcs</div>
            <div @click="item.quantity++">👍</div>
          </div>
          <div class="w-25 text-center">
            <div @click="cloneItem(item)" class="mx-auto emoji-button">
              📋
            </div>
          </div>
          <div class="w-25 text-center">
            <div @click="deleteItem(item)" class="mx-auto emoji-button">
              ❌
            </div>
          </div>
        </div>
      </div>
      <div id="total-frame" class="h4 mb-0 d-flex">
        <b class="align-self-end mb-4 ml-3">
          <span>
            {{ totalWeight }}
          </span>
          <span class="h5">gr</span>
        </b>
      </div>
      <div
        v-if="JSON.stringify(cachedProduct) != JSON.stringify(product)"
        class="floating-button"
        id="save-button"
        @click="saveChanges"
      >
        💾
      </div>
      <div
        v-if="JSON.stringify(cachedProduct) != JSON.stringify(product)"
        class="floating-button"
        id="refresh-button"
        @click="refreshItems"
      >
        🗑️
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./Product.ts"></script>
<style scoped lang="css" src="./Product.css"></style>
