#container {
  width: 100%;
  height: 100%;
}

.item-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#total-frame {
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 0.8;
  background: rgb(156, 34, 255);
  color: white;
  width: 100px;
  height: 80px;
  border-top-right-radius: 100%;
}

#save-button {
  right: 30px;
  background-color: rgb(92, 90, 247);
}

#refresh-button {
  right: 95px;
  background-color: rgb(247, 174, 90);
}