<template>
  <ion-page>
    <ion-header :translucent="true">
      <ion-toolbar>
        <ion-title class="title">
          <div class="d-flex">
            <div>📚 Stocky</div>
            <div class="ml-auto">⚙️</div>
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
      <div id="container">
        <div
          v-for="product in products"
          class="product-row py-3 px-3"
          v-bind:key="product.name"
        >
          <div @click="viewProduct(product)" id="product-name" class="w-25">
            <div
              class="badge d-inline"
              style="white-space: normal"
              v-bind:style="{ background: product.color }"
            >
              {{ product.name }}
            </div>
          </div>
          <div
            @click="viewProduct(product)"
            class="mb-0 text-center w-25 h5 d-flex justify-content-center align-items-center"
          >
            {{ getTotalQuantity(product) }}
          </div>
          <div
            @click="viewProduct(product)"
            class="mb-0 text-center w-25 h5 d-flex justify-content-center align-items-center"
          >
            {{ getTotalWeight(product) }} gr
          </div>
          <div class="w-25 d-flex align-items-center flex-row">
            <div @click="editProduct(product)" class="mx-auto emoji-button">
              ✏️
            </div>
            <div @click="deleteProduct(product)" class="mx-auto emoji-button">
              ❌
            </div>
          </div>
        </div>
        <!-- TODO: passiamo sti products alla view figlia come props :nome=var -->
        <AddEdit
          v-if="showAddPopup"
          @closeAddPopup="
            {
              showAddPopup = false;
              refreshProducts();
            }
          "
          :products="products"
          :editMode="editMode"
          :product="product"
          @addProduct="addProduct"
        ></AddEdit>
      </div>
      <div
        class="floating-button"
        id="add-button"
        @click="
          editMode = false;
          showAddPopup = true;
        "
      >
        💡
      </div>
      <div
        v-if="JSON.stringify(cachedProducts) != JSON.stringify(products)"
        class="floating-button"
        id="save-button"
        @click="saveChanges"
      >
        💾
      </div>
      <div
        v-if="JSON.stringify(cachedProducts) != JSON.stringify(products)"
        class="floating-button"
        id="refresh-button"
        @click="refreshProducts"
      >
        🗑️
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts" src="./Home.ts"></script>
<style scoped lang="css" src="./Home.css"></style>
