.title {
  padding: 0 1rem;
  text-align: left;
  font-size: 1.10rem;
}

#container {
  width: 100%;
  height: 100%;
}

#add-button {
  right: 30px;
  background-color: rgb(74, 199, 172);
}

#save-button {
  right: 95px;
  background-color: rgb(92, 90, 247);
}

#refresh-button {
  left: 30px;
  background-color: rgb(247, 174, 90);
}

.product-row {
  width: 100%;
  display: flex !important;
  flex-direction: row;
}

#product-name {
  font-size: 22px;
}

.my-badge {
  font-size: 17px;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
}
