#container {
    margin-bottom: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgba(105, 105, 105, 0.1);
    align-items: center;
}

#modal {
    /* width: fit-content; */
    /* height: fit-content;
    max-width: 80vw; */
    /* max-height: 90vh; */
    background: white;
    height: 60vh;
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

#continueButton {
    background: rgb(1, 177, 118);
    height: 50px !important;
    font-size: 18px !important;
    line-height: 17px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#closePopupButton {
    color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    font-weight: bold;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    /* border: dashed 1px black; */
}

#name-lookup {
    position: fixed;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    margin: 29px 55px;
    min-width: 120px;
    border-radius: 10px;
    border: solid 1px gray;
}

#name-lookup p {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    white-space: nowrap;
}