<template>
  <div id="container">
    <div id="modal">
      <div class="d-flex flex-column h-100">
        <div id="header" class="pt-3 px-3 d-flex flex-row">
          <div v-if="!editMode" class="h4">💡 Inserisci Prodotto</div>
          <div class="h4" v-else>Aggiungi al Prodotto</div>
          <div class="ml-auto emoji-button" @click="close()">⚔️</div>
        </div>
        <div id="data" class="px-4 mt-4 d-flex flex-column h-100 fs-17">
          <div v-if="!isProductPage" class="d-flex flex-row">
            <span class="mr-3">
              Nome
            </span>
            <div class="d-flex flex-row">
              <input
                @input="lookup4Name"
                placeholder="ex. Uova"
                style="width: 120px;"
                v-model="name"
                class="input-nice"
                type="text"
              />
              <!-- v-if="lookupNameOptions.length" -->
              <div
                class="emoji-button ml-2"
                @click="showNameLookup = !showNameLookup"
              >
                {{ showNameLookup ? '🔼' : '🔽' }}
              </div>
            </div>
            <div
              v-if="showNameLookup"
              id="name-lookup"
              class="d-flex flex-column"
            >
              <p
                class="text-secondary font-italic"
                v-if="!lookupNameOptions.length"
              >
                No product found
              </p>
              <p
                @click="lookupSelect(name)"
                v-for="name in lookupNameOptions"
                v-bind:key="name"
              >
                {{ name }}
              </p>
            </div>
          </div>
          <div class="d-flex flex-row mt-3">
            <span>
              Quantità
            </span>
            <span id="product-quantity" class="w-50 d-flex flex-row px-3">
              <div class="emoji-button" @click="quantity > 0 ? quantity-- : 1">
                👎
              </div>
              <input
                pattern="^[1-9]\d*$"
                type="text"
                style="width: 25px"
                class="text-center h3 p-0 mx-3 input-nice"
                v-model="quantity"
              />
              <div class="emoji-button" @click="quantity++">👍</div>
            </span>
          </div>
          <div class="d-flex flex-row mt-3">
            <span class="mr-3">
              Peso
            </span>
            <input
              v-model="weight"
              @input="updateTotalWeight"
              class="input-nice text-center"
              type="text"
              min="0"
              style="width: 60px"
            />
            <span class="ml-1">gr</span>
          </div>
          <div
            v-if="!isProductPage"
            class="d-flex flex-row mt-4 align-items-center"
          >
            <span class="mr-3">
              Color
            </span>
            <div
              class="d-flex flex-row"
              v-for="color in colors"
              v-bind:key="color.name"
            >
              <div
                @click="lookupSelected ? '' : (choosenColor = color)"
                v-bind:style="{
                  background: color,
                  border: choosenColor == color ? 'dashed 2px black' : '',
                }"
                class="ml-2 color-option"
              ></div>
            </div>
          </div>

          <div class="text-right mt-auto mb-3">
            <p
              v-if="isNaN(totalWeight)"
              class="text-left text-danger font-italic"
            >
              Mmh some values are 'cucu'..
            </p>
            <i>..total of </i>
            <span class="px-1 bg-info text-white rounded">
              <i
                ><b>{{ totalWeight }} gr</b></i
              >
            </span>
          </div>
        </div>
        <div
          @click="name || isNaN(totalWeight) ? add() : {}"
          id="continueButton"
          role="button"
          v-bind:class="{ 'bg-dark': isNaN(totalWeight) }"
          class="btn mt-auto text-center pb-0 mb-0 text-white"
        >
          {{ editMode ? 'Modifica' : 'Aggiungi' }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./AddEdit.ts"></script>
<style scoped lang="css" src="./AddEdit.css"></style>
